body {
  font-family: "Pantua One", sans-serif;
  background-color: rgb(255, 242, 242);
}

#page-logo a {
  color: black;
}

header a {
  color: black;
}

header {
  position: static;
}

h1 {
  text-align: center;
}

form {
  width: 30rem;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

label {
  color: rgb(37, 34, 34);
  display: block;
  margin: 0.5rem 0;
}

input,
textarea {
  font-family: inherit;
  padding: 0.5rem;
  border: 1px solid rgb(37, 34, 34);
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: rgb(230, 227, 240);
}

button {
    font: inherit;
    border: 1px solid rgb(3, 2, 2);
    padding: 0.4rem 1rem;
    border-radius: 8px;
}