body {
    background-color: rgb(95, 91, 91);
}

#page-logo a {
    color: rgb(183, 230, 235);
}

header a {
    color: rgb(183, 230, 235);
}

header nav a:hover {
    background-color: rgba(235, 230, 230, 0.863);
}